html{
	font-family: 'Poppins', sans-serif;
	font-family: 'Neuton', serif;
}
h1, h2, h3{
	font-family: 'Neuton';
}

p{
	font-family: 'Poppins';
}

.section{
	width: 80%;
	margin: 0 auto;
}

.rating{
	stroke-width: 6;
	stroke: black;
	fill: none;
}
.ratingC{
	font-family: 'Poppins';
	text-anchor: middle;
	alignment-baseline: middle;
	font-size: 24px;
	font-weight: 600;
}
.label{
	font-family: 'Neuton';
	text-anchor: middle;
	font-size: 16px;
}
.artist{
	text-anchor: middle;
	font-family: 'Neuton';
	font-weight: 700;
}
.artistIMG{
	clip-path: circle(50px at center);
}
.graphLabels{
	font-family: 'Poppins';
	text-anchor: middle;
	alignment-baseline: hanging;
}
.d3-tip{
	line-height: 0.5;
	padding: 6px;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	border-radius: 4px;
	font-size: 12px;
}
.d3-tip:after {
	box-sizing: border-box;
	display: inline;
	font-size: 10px;
	width: 100%;
	line-height: 1;
	color: rgba(0, 0, 0, 0.8);
	content: "\25BC";
	position: absolute;
	text-align: center;
}
.d3-tip.n:after {
	margin: -2px 0 0 0;
	top: 100%;
	left: 0;
}

.exposeText{
	font-family: 'Poppins';
	font-size: 14px;
}