html{
	font-family: 'Poppins', sans-serif;
	font-family: 'Neuton', serif;
}
h1, h2, h3{
	font-family: 'Neuton';
}
.rating{
	stroke-width: 6;
	stroke: black;
	fill: none;
}
.ratingC{
	font-family: 'Poppins';
	text-anchor: middle;
	alignment-baseline: middle;
	font-size: 24px;
	font-weight: 600;
}
.label{
	text-anchor: middle;
	font-size: 12px;
}
.artist{
	text-anchor: middle;
	font-family: 'Neuton';
}
.artistIMG{
	clip-path: circle(50px at center);
}